body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

#tablero {
    display: grid;
    grid-template-rows: repeat(20, 30px);
    grid-template-columns: repeat(10, 30px);
    gap: 1px;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: #8b8b8b;
}

#tetrimino {
    background-color: red;
}